<%= form_for [@project, @task] do |f| %>

  <h1> <%= title %> </h1>
  <div class = "form-horizontal" role="form">
    <%= render '/errors.html.erb', model: @task %>

    <%= f.label :description %>
    <%= f.text_field :description, :autofocus=>true, class: "form-control", placeholder: "Enter description" %>
    <br><br>

    <%= f.label :due_date %>
    <%= f.date_field :due_date, class: 'form-control' %>
    <br>

    <%if @edit_page%>
      <%= f.check_box :complete %>
      <%= f.label :complete %><br><br>
    <%end%>

    <%= f.submit class: "btn btn-submit" %><br><br>
  </div>
<% end %>
