<%= form_for(@task) do |f| %>
  <div class = "form-horizontal" role="form">
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

<!-- form -->

  <!-- description field -->
  <div class="description_field">
    <%= f.label :description, :class=>"label col-md-2" %>
    <%= f.text_field :description, :autofocus=>true, :class=>"col-md-10" %>
    <br><br>
  </div>

  <!-- due date field -->
  <div class ="calendar">
    <%= f.label :due_date, :class =>"label col-md-2" %>
    <%= f.date_field :due_date %>
    <br><br>
  </div>

  <!-- for new page exclusively -->
  <%if @new_page%>
  
    <!-- create task button -->
    <div class="actions btn_create_task">
      <%= f.submit 'Create Task', :class=>"btn btn-primary" %>
    </div>
  <%end%>

  <!-- for edit page exclusively -->
  <%if @edit_page%>

    <!-- complete checkbox -->
    <div class="field chk_complete">
      <%= f.check_box :complete, {}, true, false %>
      <%= f.label :complete %><br />
    </div>

    <!-- update button -->
    <div class="actions btn_update_task">
      <%= f.submit 'Update Task', :class=>"btn btn-primary" %>
    </div>
    <br>
  <%end%>

  </div>
<% end %>
