<table class = "table new-task-table">
  <div class = 'page-header'>
    <div class = "pull-right">

      <%= link_to 'Create Task', new_task_path, :class => "btn btn-primary pull-right" %>

      <%= link_clickable('All', tasks_path(filter: "all"), @thing1) %>
      <%= link_clickable('Incomplete', tasks_path, @thing2 )  %>
    </div>
    <h1>Tasks</h1>
  </div>

  <hr>
  <thead>
    <tr>
      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Description', "#{@uri1}&sort_by=description" %>
          <% elsif !@query %>
            <%= link_to 'Description', "#{@uri2}?sort_by=description" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Complete', "#{@uri1}&sort_by=complete" %>
          <% elsif !@query %>
            <%= link_to 'Complete', "#{@uri2}?sort_by=complete" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Due Date', "#{@uri1}&sort_by=due_date" %>
          <% elsif !@query %>
            <%= link_to 'Due Date', "#{@uri2}?sort_by=due_date" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>Due In...</h4>
      </th>

    </tr>
  </thead>

  <tbody>

  <!-- sort tasks by date -->
  <% @tasks.each do |task| %>

      <% due_in = due_in(task) %>
      <tr class = "<%= row_class_for_task(task, due_in) %>">

        <!-- description column -->
        <td>
          <%= task.description %>
        </td>

        <!-- complete column -->
        <td>
          <div class = "complete_column">
            <% if task.complete %>
              Complete
            <% elsif task.complete == false%>
              Incomplete
            <%end%>
          </div>
        </td>

        <!-- due column -->
        <td>
          <div class = "due_column">

            <% if task.due_date != nil %>
              <%= task.due_date.strftime('%m/%d/%Y') %>

            <% else %>
              No due date set.

            <%end%>
          </div>
        </td>

        <!-- due_in column -->
        <td>
          <div class = "due_in_column">

            <% if task.due_date != nil && due_in > 0 && due_in != 0.1%>
              <p>Due in <%= due_in %> days.</p>

            <% elsif task.due_date != nil && due_in && due_in == 0 %>
              <p>Due today!</p>

            <% elsif due_in < 0 %>
              <p><%= due_in.abs %> days overdue.</p>
            <% else %>
              <p>No due date set.</p>

            <%end%>
          </div>
        </td>

        <!-- buttons column -->
        <td>
          <%= link_to 'Destroy', task_path(task), :class => "btn btn-danger pull-right", method: :delete, data: {confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_task_path(task), :class => "btn btn-warning pull-right" %>
          <%= link_to 'Show', task, :class => "btn btn-success pull-right"%>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
