<div class = 'page-header'>
  <div class = "pull-right">

    <%= link_to 'Create Task', new_project_task_path, :class => "btn btn-primary pull-right" %>

    <%= link_clickable('All', project_tasks_path(filter: "all"), @thing1) %>
    <%= link_clickable('Incomplete', project_tasks_path, @thing2 )  %>
  </div>
  <h1><%= "Tasks for #{@project.name}" %></h1>
</div>
<%= pluralize(Comment.count, 'comment') %>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path(@project) %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tasks</li>
</ol><br>

<hr>

<table class = "table new-task-table">
  <thead>
    <tr>
      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Description', "#{@uri1}&sort_by=description" %>
          <% elsif !@query %>
            <%= link_to 'Description', "#{@uri2}?sort_by=description" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Completion Status', "#{@uri1}&sort_by=complete" %>
          <% elsif !@query %>
            <%= link_to 'Completion Status', "#{@uri2}?sort_by=complete" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>
          <% if @query %>
            <%= link_to 'Due Date', "#{@uri1}&sort_by=due_date" %>
          <% elsif !@query %>
            <%= link_to 'Due Date', "#{@uri2}?sort_by=due_date" %>
          <% end %>
        </h4>
      </th>

      <th>
        <h4>Due In...</h4>
      </th>

    </tr>
  </thead>

  <tbody>

  <!-- sort tasks by date -->
  <% @tasks.each do |task| %>

      <% due_in = due_in(task) %>
      <tr>

        <!-- description column -->
        <td>
          <%= link_to task.description, project_task_path(@project, task) %>
          <div class="badge">
            <%= task.comments.count %>
          </div>
        </td>

        <!-- complete column -->
        <td>
          <div class = "complete_column">
            <% if task.complete %>
              <%= link_to "Complete" %>

            <% elsif task.complete == false%>
              <%= link_to 'Incomplete' %>
            <%end%>
          </div>
        </td>

        <!-- due column -->
        <td>
          <div class = "due_column <%= row_class_for_task(task, due_in) %>">

            <% if task.due_date != nil %>
              <%= task.due_date.strftime('%m/%d/%Y') %>

            <% else %>
              No due date set.

            <%end%>
          </div>
        </td>

        <!-- due_in column -->
        <td>
          <div class = "due_in_column <%= row_class_for_task(task, due_in) %>">

            <% if task.due_date != nil && due_in > 0 && due_in != 0.1%>
              Due in <%= pluralize(due_in, "day") %>

            <% elsif task.due_date != nil && due_in && due_in == 0 %>
              Due today!

            <% elsif due_in < 0 %>
              <%= pluralize(due_in.abs, "day") %> overdue.
            <% else %>
              No due date set.
            <%end%>
          </div>
        </td>

        <!-- buttons column -->
        <td>
          <%= link_to 'Edit', edit_project_task_path(@project, task), :class => "btn btn-primary" %>
          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-remove"),
              project_task_path(@project, task), method: :delete,
              data: {confirm: 'Are you sure?'}%>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
