<%= form_for(@model, url: @path) do |f| %>

  <div class = "row">
    <div class="well col-md-4 col-md-offset-4">


      <!-- titles -->
      <% if @path == signin_path %><h2>Sign into gCamp</h2>
      <% elsif @path == signup_path %><h2>Sign Up for gCamp!</h2>
      <% elsif @path == users_path %><h2>New User</h2>
      <% elsif @path != users_path && @path == user_path %><h2>Edit User</h2><% end %>


      <!-- signin_error -->
      <% if @sign_in_error %>
        <div class = 'error'>
          <br><p><%= @sign_in_error %></p>
        </div>
      <% end %>
      <br>


      <!-- signup errors -->
      <% if @path != signin_path %>
        <% if @path == signup_path or @path == users_path or @path == user_path  %>
          <% if @model.errors.present? %>
            <% @model.errors.full_messages.each do |message| %>
              <div class = 'error'>
                <%= message %>
              </div>
            <% end %><br>
          <% end %>
        <% end %>
      <% end %>


      <!-- fields -->
      <% if @path != signin_path %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus=>true, :class=>"col-md-12" %>
      <br><br><br>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class=>"col-md-12" %>
      <br><br><br>
      <% end %>

      <%= f.label :email %>
      <%= f.email_field :email, :class=>"col-md-12" %>
      <br><br>

      <%= f.label :password %>
      <%= f.password_field :password, :class=>"col-md-12" %>

      <br><br>
      <% if @path != signin_path %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class=>"col-md-12" %>
      <% end %>


      <!-- buttons -->
      <br><br>

      <% if @path == users_path %>
        <%= f.submit 'Create User', :class=>"btn btn-submit" %>

      <% elsif @path == signup_path %>
        <%= f.submit 'Sign Up!' %>

      <% elsif @path == signin_path %>
        <%= f.submit 'Sign In!' %>

      <% elsif @path == user_path %>
        <%= f.submit 'Update User', :class=>"btn btn-submit" %>
        <%= link_to 'Delete User', user_path(@user), method: :delete, :class=>'btn btn-danger' %>
      <% end %>
    </div>
  </div>

<% end %>
