<% if notice != nil%>
  <p id ="notice" class = "alert alert-success"><%=notice%></p>
<%end%>
<% full_name = (@user.first_name + " " + @user.last_name) %>
<h1>
  <%= full_name %>
  <%= link_to 'Edit', edit_user_path(@user), :class=>'btn btn-primary pull-right' %>
</h1>

<div class = 'col-sm-2'>
  <strong>First Name:</strong>
</div>
  <%= @user.first_name %><br>

<div class = 'col-sm-2'>
  <strong>Last Name:</strong>
</div>
  <%= @user.last_name %><br>

<div class = 'col-sm-2'>
  <strong>E-Mail:</strong>
</div>
  <%= mail_to(@user.email) %><br><br>

<%= link_to 'Back', users_path %>
