<h1>
  <%= @user.full_name %>
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary pull-right' %>
  <% end %>
</h1>

<dl class = 'dl-horizontal'>
  <dt>First Name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last Name:</dt>
  <dd><%= @user.last_name %></dd>

  <% if current_user == @user %>
    <dt>E-Mail:</dt>
    <dd><%= mail_to(@user.email) %></dd><br>
  <% end %>
</dl>
