<% if notice != nil%>
  <p id ="notice" class = "alert alert-success"><%=notice%></p>
<%end%>
<% full_name = (@user.first_name + " " + @user.last_name) %>
<h1>
  <%= full_name %>
  <%= link_to 'Edit', edit_user_path(@user), :class=>'btn btn-primary pull-right' %>
</h1>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= mail_to(@user.email) %>
</p>

<%= link_to 'Back', users_path %>
