<%= form_for @user, url: signup_path do |f| %>

<p>   First Name:  </p>
<%= f.text_field :first_name %><br>

<p>   Last Name:  </p>
<%= f.text_field :last_name %><br>

  <p>   E-mail:  </p>
  <%= f.email_field :email %><br>

  <p>    Password:  </p>
  <%= f.password_field :password_digest %><br>

  <p>  Password Confirmation:</p>
  <%= f.password_field :password_digest %><br><br>

  <%= f.submit 'Sign Up' %>
<% end %>
