<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message| %>
      <div class ="error">
        <%= message %>
      </div>
    <% end %>
    <br>
  <% end %>

  <div class = "form-horizontal" role="form">

    <%= f.label :name%>
    <%= f.text_field :name, class: 'form-control', :autofocus => true %><br>

    <%= f.submit class: 'btn btn-primary' %>

  </div>
<% end %>
