<div>
  <h2><strong><%= @project.name %></strong>
  <% if valid_owner %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary pull-right' %>
  <% end %>
</h2>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path(@project) %></li>
  <li class="active"><%= @project.name %></li>
</ol><br>

  <%= link_to pluralize(@project.tasks.count, "task"), project_tasks_path(@project) %><br>
  <%= link_to pluralize(@project.memberships.count, "member"), project_memberships_path(@project) %>
  
<% if valid_owner %>
  <div class = 'well'>
    <strong>Delete Project</strong><br><br>
    <%= "Deleting this project will also delete #{pluralize(@project.memberships.count, 'comment')},
        #{pluralize(@project.tasks.count, 'task')}, and all associated comments." %><br><br>
    <%= link_to 'Delete project', @project, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  </div>
<% end %>
</div>

  <!-- <%= link_to 'To Index', projects_path %> -->
