<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) or "gCamp" %></title>
    <%= stylesheet_link_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body class="<% if @home %>homepage<% end %>" >
    <div class = 'container'>

    <!--navbar-->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <div class = 'navbar-header'>

          <%=link_to "gCamp", projects_path, class: "gcamp-brand"%>
          </div>
          <ul class='navbar-nav'>
            <li class="dropdown list-unstyled">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                My Projects
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.admin %>
                  <% Project.all.each do |project| %>
                    <li><a href="#"><%= link_to project.name, project_path(project) %></a></li>
                  <% end %>
                <% elsif current_user %>
                  <% current_user.memberships.each do |membership|%>
                    <li><a href="#"><%= link_to membership.project.name, project_path(membership.project) %></a></li>
                  <% end %>
                <% end %>
                <li class="divider"></li>
                <li><a href="#"><%= link_to 'New Project', new_project_path %></a></li>
              </ul>
            </li>
            <li class="dropdown list-unstyled">
              <%= link_to_unless_current('Users', users_path) %>
            </li>
          </ul>

          <div class = 'navbar-right' >
            <% if current_user %>
              <%= link_to (current_user.first_name + ' ' + current_user.last_name), user_path(current_user) %>
              | <%= link_to "Sign Out", signout_path %>
            <% else %>
              <%= link_to 'Sign In', signin_path %>
              | <%= link_to "Sign Up", signup_path %>
            <% end %>
          </div>
        </div>
      </div>

      <% if notice %>
        <div class = 'alert alert-success'>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
      <footer>

        <hr>
        <div class='text-center'>
          <%= link_to_unless_current('Home', root_path) %>
          <%= link_to_unless_current('About', about_path) %>
          <%= link_to_unless_current('Terms', terms_path) %>
          <%= link_to_unless_current('FAQs', faq_path) %>
        </div>

      </footer>
    </div>
  </body>

</html>
